<% @items.each do |item| %>
<tr>
  <td><%= image_tag item.image_url, class: "thumbnail" %></td>
  <td><%= item.name %></td>
  <td><%= item.description %></td>
  <td><%= number_to_currency(item.starting_price) %></td>
  <td><%= number_to_currency(item.highest_bid_amount) %></td>
  <td><%= link_to 'Bid!', item, class: "button tiny" %></td>
  <td><%= link_to 'Edit', edit_item_path(item), class: "button tiny" %></td>
  <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %></td>
</tr>
<% end %>
